# Prerequisites
*.d

# Object files
*.o
*.ko
*.obj
*.elf

# Linker output
*.ilk
*.map
*.exp

# Precompiled Headers
*.gch
*.pch

# Libraries
*.lib
*.a
*.la
*.lo

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex

# Debug files
*.dSYM/
*.su
*.idb
*.pdb

# Kernel Module Compile Results
*.mod*
*.cmd
.tmp_versions/
modules.order
Module.symvers
Mkfile.old
dkms.conf
cs alkalmazás/Projektmunka/.vs/Projektmunka/FileContentIndex/b0767351-ed06-4e7f-81be-beebbc488546.vsidx
cs alkalmazás/Projektmunka/.vs/Projektmunka/FileContentIndex/8772b2e8-611b-4831-91e5-22aaaee5c363.vsidx
